* {
    margin: 0;
    padding: 0;
	font-family: sans-serif;
}

body {
    margin: 0 auto;
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
    max-width: 1200px;
    width: 100%;
}

#mainarea {
    margin: 2em;
}

#h-h1 {
    padding: .5em;
    font-size: 32px;
}

#ul1 {
    padding-left: 3em;
}

.ul2 {
    padding-left: 1em;
    padding-top: .2em;
}

li {
    padding: .15em 0;
}

footer {
    margin: 2em 0;
    padding: 2em;
    text-align: right;
}