<header>
    <nav>
        <a href="/" class="nav-children">
                <img
                    src="/icon1.png"
                    alt="Icon"
                    width="auto"
                    height="auto"
                    loading="lazy"
                />
                <h1>Iris2664.com</h1>
        </a>
        <div class="nav-children2">
            <div class="link">
                <a href="/">Home</a>
            </div>
            <div class="link">
                <a href="/about/">About</a>
            </div>
            <div class="link">
                <a href="/activities/">Activities</a>
            </div>
            <div class="link">
                <a
                    href="https://iris2664.hatenablog.jp/"
                    target="_blank"
                    rel="noopener noreferrer">Blog</a
                >
            </div>
        </div>
    </nav>
</header>