{{ define "main" }}
<<div class="home">
  <section>
    <div>
      <div class="text-box">
        <div class="left">
          <div>
            <img src="/icon1.png" alt="Icon" width="auto" height="auto" loading="lazy" />
          </div>
          <p>HINATA Ayame</p>
        </div>
        <div class="right">
          <section>
            <h2>Welcome to Iris2664.com!</h2>
            <p>Welcome to the profile site of HINATA Ayame.</p>
            <p>Do not attack this site. There are no flags at all ;)</p>
            <p>
              This site cannot be viewed from Tor. You can view it from a
              normal line.
            </p>
            <p>
              To learn more about Ayame Hinata as a Virtual YouTuber, please
              visit <a href="https://vtuber.iris2664.com/" target="_blank"
                rel="noopener noreferrer">https://vtuber.iris2664.com/</a>.
            </p>
          </section>
          <section>
            <h3>Brief profile of HINATA Ayame</h3>
            <ul>
              <li>Handle: 陽向あやめ / HINATA Ayame</li>
              <li>Nickname: ひなあや / Hinaaya</li>
              <li>Occupation: Bachelor Student (Information Technology and Business), Security Researcher, Software
                Engineer</li>
              <li>Expertise: Information law, System Auditing, Low-Layer Development</li>
              <li>
                <p>What we will be working on in the future</p>
                <ul>
                  <li>To build an information society infrastructure that everyone can benefit from, taking into account
                    each individual's situation regardless of gender or age.</li>
                  <li>To develop safe and easy-to-use operating systems, software, and terminals.</li>
                  <li>Promote the construction of an environment in which women can play an active role in the field of
                    science and engineering.</li>
                </ul>
              </li>
            </ul>
            <div class="about_link">
              <a href="/about">etc.</a>
            </div>
          </section>
          <!--<h5>
            Hello! I am HINATA Ayame. I am a university
            student majoring in informatics.
          </h5>
          <p>
            I am a virtual being on the Internet. The
            physical avatar is a university student
            specializing in information security.
          </p>
          <p>
            Of these, I am particularly interested in
            security and operating systems.
          </p>
          <p>
            I love computers and my favorite smart phone is
            the Google Pixel series.
          </p>
          <p>
            What I want to do is, first, to create an
            information society infrastructure that takes
            into account the situation of each individual,
            where everyone can benefit regardless of gender
            or age; second, to develop a safe and
            easy-to-use OS; and third, to promote the
            advancement of women in science and engineering
            fields.
          </p>
          <p>
            I love to travel and enjoy the scenery and
            cuisine of different regions.
          </p>-->
        </div>
      </div>
    </div>
    </div>
  </section>
  </div>
  {{ end }}