@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

body {
    font-family: "Source Code Pro", "BIZ UDGothic", sans-serif;
    font-size: 16px;
    color: #f5f5f5;
}

body::before {
    filter: blur(10px);
}

header {
    margin: 0 auto;
    max-width: 1300px;
    margin-bottom: -2rem;
    padding: 2rem 0 2rem;
    background-color: rgba(0, 7, 22, 0.603);
    color: #fff;
}

main {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    padding: 2rem;
    line-height: 1.8;
}

main .img_icon {
    max-width: 14rem;
    max-height: 14rem;
    border-radius: 50%;
}

main .boxs {
    background-color: #080b20c5;
    box-shadow: rgba(28, 28, 44, 0.541) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin: 3rem 0;
    padding: 2rem;
}

main .main_box {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem 0;
}

main .main_box_left {
    padding: 0 2rem;
    width: 28%;
    text-align: center;
}

main .main_box_left h1 {
    font-size: 1.8rem;
}

main .main_box_right {
    padding: 0 1rem;
    width: 65%;
}

main .main_box_right h2 {
    font-size: 1.9rem;
}

main .boxs h3 {
    font-size: 1.4rem;
    padding: .2rem 0;
}

main .boxs ul {
    padding: .1rem 0;
}

main .boxs .box_ul {
    margin-left: 1.5rem;
}

main .boxs ul, li {
    font-size: 1.1rem;
}

main .boxs p {
    font-size: 1.1rem;
}

.links-container {
    margin-left: 0;
    margin-right: auto; 
    padding: 0 0 0 20px; 
    box-sizing: border-box;
  }
  
  .links-wrapper ul {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 8px 40px;
    padding: 0;
    margin: 0;
  }
  
  .links-wrapper li {
    margin-bottom: 0; 
    line-height: 1.2; 
  }

ul li a {
    color: #66B2FF;
    text-decoration: none;
  }

ul li a:hover {
    color: #00FFFF;
    text-decoration: underline;
  }
  
ul li a:visited {
    color: #99CCFF; 
  }
  
ul li a:active {
    color: #FFD700;
  }

main .contact {
    margin-bottom: 1rem;
}

main .e-mail {
    margin: 1rem 0;
    padding: .5rem 1rem;
    background-color: #f8f9fa;
    color: #bd4147;
    width: fit-content;
}

footer {
    background-color: #080b20b2;
    box-shadow: rgba(28, 28, 44, 0.541) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 2rem;
}