---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | iris2664.com">
    <main>
        <h2>What is HINATA Ayame?</h2>
        <div class="box">
            <h3>My Handle</h3>
            <p>Japanese: 陽向あやめ</p>
            <p>English: HINATA Ayame</p>
        </div>
        <div class="box">
            <h3>My Legal Name</h3>
            <p>-</p>
            <p>The real name will be disclosed when necessary.</p>
        </div>
        <div class="box">
            <h3>Occupation</h3>
            <p>
                Bachelor Students (Information Technology and Business), Security Researcher, ICT
                Engineer (Software Engineer), Virtual YouTuber
            </p>
        </div>
        <div class="box">
            <h3>Pronoun</h3>
            <p>she/her</p>
        </div>
        <div class="box">
            <section>
                <h3>Academic Memberships</h3>
                <ul>
                    <li>
                        情報処理学会 / Information Processing Society of Japan
                    </li>
                    <li>
                        電子情報通信学会 / The Institute of Electronics,
                        Information and Communication Engineer
                    </li>
                </ul>
            </section>
        </div>
        <!--
        <div class="box">
        <section>
            <h3>Experience</h3>
            <ul>
            <li>202X-0X. Internship</li> 
            </ul>
        </section>
        </div>
        -->
        <div class="box">
            <section>
                <h3>Interests</h3>
                <ul>
                    <li>
                        低レイヤー / オペレーティングシステム / CPU
                    </li>
                    <li>
                        サイバーセキュリティ / 暗号理論 / 電子署名 / 情報法 /
                        プライバシー
                    </li>
                    <li>
                        ネットワーク / サーバー構築・運用 /クラウド技術 / TCP/IP
                        / 電気通信 / 無線通信
                    </li>
                    <li>
                        人工知能 / 生成系AI / 機械学習 / 自動運転 / 画像認識
                    </li>
                    <li>
                        知的財産権 / 著作権 / 特許権 / 商標権
                    </li>
                    <li>
                        メタバース / 電脳
                    </li>
                </ul>
            </section>
        </div>
        <div class="box">
            <section>
                <h3>Skills</h3>
                <ul>
                    <li>Windows, Mac, Linux</li>
                    <li>C/C++, Rust, JavaScript, TypeScript, Python</li>
                    <li>Visual Studio Code</li>
                    <li>Git (GitHub)</li>
                    <li>WebSite製作</li>
                    <li>基礎的なシステム監査知識</li>
                    <li>パーソナルコンピュータの組み立て（自作PC）</li>
                    <li>Premiere Proを用いた動画制作</li>
                    <li>
                        Illustrator, Photoshop, CLIP STUDIO
                        PAINTを用いた簡単なイラスト, 同人誌系冊子作成
                    </li>
                    <li>
                        プログラミング教室での講師補助，教室運営補助経験による未成年者へのプログラミング指導
                    </li>
                </ul>
            </section>
        </div>
        <div class="box">
            <section>
                <h3>Qualification</h3>
                <ul>
                    <li>
                        2022-06. ITパスポート試験 / Information Technology
                        Passport Examination
                    </li>
                    <li>
                        2023-01. 情報セキュリティマネジメント試験 / Information
                        Security Management Examination
                    </li>
                </ul>
            </section>
        </div>
        <div class="box">
            <section>
                <h3 class="h3">Links</h3>
                <div class="box">
                    <p class="links_p">
                        &#8251 こちらに記載のあるアカウントは,
                        確実に私のアカウントです.
                    </p>
                    <p class="links_p">
                        こちらに記載のないアカウントで私を騙っているのを見かけた場合には,
                        Contacts記載のメールアドレスにご連絡ください.
                    </p>
                </div>
                <ul>
                    <li>
                        X a.k.a Twitter
                        <a
                            href="https://x.com/Iris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @Iris2664
                        </a>
                    </li>
                    <li>
                        Bluesky
                        <a
                            href="https://bsky.app/profile/iris2664.com"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @iris2664.com
                        </a>
                    </li>
                    <li>
                        GitHub
                        <a
                            href="https://github.com/Iris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @Iris2664
                        </a>
                    </li>
                    <li>
                        GitLab
                        <a
                            href="https://gitlab.com/Iris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @Iris2664
                        </a>
                    </li>
                    <li>
                        YouTube
                        <a
                            href="https://www.youtube.com/@iris2664jp"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @Iris2664jp
                        </a>
                    </li>
                    <li>
                        Twitch
                        <a
                            href="https://www.twitch.tv/iris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            iris2664
                        </a>
                    </li>
                    <li>
                        Qiita
                        <a
                            href="https://qiita.com/Iris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @Iris2664
                        </a>
                    </li>
                    <li>
                        Zenn
                        <a
                            href="https://zenn.dev/lris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            @Iris2664
                        </a>
                    </li>
                    <li>
                        Hatena Blog
                        <a
                            href="https://iris2664.hatenablog.jp"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            iris2664.hatenablog.jp
                        </a>
                    </li>
                    <li>
                        connpass
                        <a
                            href="https://connpass.com/user/Iris2664/"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Iris2664
                        </a>
                    </li>
                    <li>
                        AtCoder
                        <a
                            href="https://atcoder.jp/users/Iris2664"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Iris2664
                        </a>
                    </li>
                    <li>
                        VRChat
                        <a
                            href="https://vrchat.com/home/user/usr_6ff9abda-9919-47eb-ba74-50e9b92f2c2a"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Hinata Ayame
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="box">
            <section>
                <h3>Contacts</h3>
                <h4>E-Mail</h4>
                <div class="email">
                    <p id="mail">mail@$[THIS_DOMAIN]</p>
                </div>
                <p>&#8251 特定電子メールの送付はお断りします．</p>
                <h4>PGP public keys</h4>
                <p>Preparing ...</p>
            </section>
        </div>
    </main>
</Layout>
