{{ define "main" }}
<div class="home">
  <section>
    <div>
      <h2>Welcome to Iris2664.com!</h2>
			<p>Welcome to the profile site of HINATA Ayame.</p>
			<p>Do not attack this site. There are no flags at all ;)</p>
			<p>
				This site cannot be viewed from Tor. You can view it from a
				normal line.
			</p>
			<p>
				To learn more about Ayame Hinata as a Virtual YouTuber, please
				visit <a
					href="https://vtuber.iris2664.com/"
					target="_blank"
					rel="noopener noreferrer">https://vtuber.iris2664.com/</a
				>.
			</p>
      <div class="text-box balloon-009">
        <p class="left">HINATA Ayame &gt;</p>
        <div class="right">
          <h5>
            Hello! I am HINATA Ayame. I am a university
            student majoring in informatics.
          </h5>
          <p>
            I am a virtual being on the Internet. The
            physical avatar is a university student
            specializing in information security.
          </p>
          <p>
            Of these, I am particularly interested in
            security and operating systems.
          </p>
          <p>
            I love computers and my favorite smart phone is
            the Google Pixel series.
          </p>
          <p>
            What I want to do is, first, to create an
            information society infrastructure that takes
            into account the situation of each individual,
            where everyone can benefit regardless of gender
            or age; second, to develop a safe and
            easy-to-use OS; and third, to promote the
            advancement of women in science and engineering
            fields.
          </p>
          <p>
            I love to travel and enjoy the scenery and
            cuisine of different regions.
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>
{{ end }}